<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartContentView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0806745B1D149B1E00BB095C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0806746F1D149B1F00BB095C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0806747A1D149B1F00BB095C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
